@import url("app.css");

body {
    
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.primary {
    color: #40614D;
}
.secondary{
    color:#0E3746;
} 
li.page-item.active li.page-link {
    background-color: #0E3746;
    border-color: #0E3746;
}

.overflow {
  width: 30em;
  outline: 0px solid #000;
  margin: 0 0 2em 0;
  
  /**
   * Required properties to achieve text-overflow
   */
    white-space: nowrap;
    overflow: hidden;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-small {
    font-size: 0.8em;
}
.border-top {
    color: #6c757d;
}
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat';
    color: #40614D;
    clear:both;
}
h1 {
    font-size: 1.75em;
}
.bg-darkgreen {
    background-color: #40614D;
}
.text-muted {
    color: #cccccc;
}
.about {
  background-image: url("../images/web-images/header.jpg");
  background-size: cover;
}

footer a:link, footer a:visited {
    color: #CFD8DC;
}

.my-4 {
    margin-top: 0px !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav > li > a {
    color: white;
}
.navbar-dark .navbar-brand:hover {
    color: white;
    opacity: 0.75;
}
.navbar-dark .navbar-nav > li > a:hover {
    color: white;
    opacity: 0.75;
}
.navbar-light .navbar-nav .nav-link {
    color: #0E3746;
}
.navbar-light .navbar-nav > li > a {
    color: #0E3746;
}
.navbar-light .navbar-brand:hover {
    color: #BE2623;
    opacity: 0.75;
}
.navbar-light .navbar-nav > li > a:hover {
    color: #BE2623;
    opacity: 0.75;
}
.btn-register {
    background-color: #BE2623;
    color: #ffffff;
}
.navbar-light .navbar-nav .btn-register {
    color: #FFFFFF;
}
.btn-secondary {
    background-color: #0E3746;
    color: #ffffff;
    padding: 5px 20px;
}